/* --------- *Whole Page* --------- */

* {
    font-family: Arial, Verdana, sans-serif;
}

/* --------- Homepage warning --------- */

#warning {
    border: 1px;
    border-color: red;
    float: right;
    clear: left;
    padding-right: 300px;
    width: 300px;
}

h3 {
    color: red;
    font-size: 18px;
}

#warning_list li {
    width: 200px;
    clear: left;
}

/* --------- Table 1 imgs --------- */

table img {
    width: 75px;
    height: 40px;
}

table {
    empty-cells: show;
}

.tab_row_head {
    font-size: 20px;
    width: 200px;
}

.tab_empty_cell {
    width: 75px;
}

td {
    padding: 2px;
}

/* --------- Table 2 repeats --------- */

.tab2_left {
    font-size: 16px;
    min-width: 200px;
}

.fasta {
    font-family: courier;
    font-size: 14px;
    width: 600px;
    margin: 0px;
    padding: 0px;
}

.tab2_left_head {
    font-size: 16px;
    width: inherit;
    height: 30px;
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    vertical-align: bottom;
}

.tab2_left_fasta {
    font-size: 16px;
    width: inherit;
    height: 30px;
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;  
    vertical-align: top;
}

/* --------- Links --------- */

a {
   text-decoration: none; 
}

a.UniProt {
    color: blue;
}

a.NCBI {
    color: purple;
}

a.ENSEMBLE {
    color: green;
}

a.TrEMBL {
    color: red;
}

/* --------- Menu Bar --------- */

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1b399b;
    text-align: center;
}

li {
    float: left;
    width: 105px;
    font-size: 15px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 11px;
    text-decoration: none;
    height: 30px;
}

li a:hover {
    background-color: #111;
}

/* --------- Class styling --------- */

.A {
    background-color: yellow;
}

.I {
    background-color: lime;
}

.IIa, .IIb {
    background-color: red;
    color: white;
}

.III {
    background-color: blue;
    color: white;
}

/* --------- Headings --------- */

h1 {
    font-size: 24px;
    color: red;
    font-weight: bold;
    padding: 5px;
}

h2 {
    padding: 5px;
    width: 800px;
    font-size: 18px;
    font-weight: bold;
}

/* --------- Organisms page --------- */


.double_div {
    float: left;
    width: 40%;
    padding: 20px;
}

.single_div {
    float: left;
    width: 20%;
    padding: 20px;
}

#amphibians {
    clear: left;
}

#reptiles {
    clear: left;
}

#fish {
    padding-left: 60px;
}