{% extends "base-menu.html" %}
		{% block title %}Organisms Page{% endblock %}
		
        
        {% block content %}
        <h1>Organisms</h1>
        
        <p>This page shows a list of all the organisms whose LRRCE SLRP information is contained in this resource.</p>
        
        {% load catalog_extras %}
        <div>
            <div class="double_div" id="mammals">
                <h3>Mammals</h3>
                
                {% for org in organism_list|filter_by_taxonomy:'Mammal' %}
                    <ul><a href="{{ org.get_absolute_url }}">{{ org.name }}</a></ul>
                {% endfor %}
            </div>
        </div>

            <div class="single_div" id="fish">
                <h3>Fish</h3>

                {% for org in organism_list|filter_by_taxonomy:'Fish' %}
                    <ul><a href="{{ org.get_absolute_url }}">{{ org.name }}</a></ul>
                {% endfor %}  
            </div>
        </div>
        
        <div>
            <div class="single_div" id="amphibians">
                <h3>Amphibians</h3>

                {% for org in organism_list|filter_by_taxonomy:'Amphibian' %}
                    <ul><a href="{{ org.get_absolute_url }}">{{ org.name }}</a></ul>
                {% endfor %}
            </div>


            <div class="single_div" id="birds">
                <h3>Birds</h3>

                {% for org in organism_list|filter_by_taxonomy:'Bird' %}
                    <ul><a href="{{ org.get_absolute_url }}">{{ org.name }}</a></ul>
                {% endfor %}
            </div>


            <div class="single_div" id="urochordates">
                <h3>Urochordates</h3>

                {% for org in organism_list|filter_by_taxonomy:'Urochordates' %}
                    <ul><a href="{{ org.get_absolute_url }}">{{ org.name }}</a></ul>
                {% endfor %}
            </div>
        </div>
        
        <div>
            <div class="single_div" id="reptiles">
                <h3>Reptiles</h3>

                {% for org in organism_list|filter_by_taxonomy:'Reptile' %}
                    <ul><a href="{{ org.get_absolute_url }}">{{ org.name }}</a></ul>
                {% endfor %}
            </div>

            <div class="single_div" id="lamprey">
                <h3>Lamprey</h3>

                {% for org in organism_list|filter_by_taxonomy:'Lamprey' %}
                    <ul><a href="{{ org.get_absolute_url }}">{{ org.name }}</a></ul>
                {% endfor %}
            </div>
        </div>
        {% endblock %}
    </body>
</html>